/* hzjcydwgxcedgysxcmoyiemlihybhtbfxqnh */
@font-face {
font-family: 'hzjcydwgxcedgysxcmoyiemlihybhtbfxqnh';
font-style: normal;
font-weight: 300;
src: local('hzjcydwgxcedgysxcmoyiemlihybhtbfxqnh'), url("../static/assets/fonts/e6fa08f25d324176cd89ff12c8c3ddf5.woff") format('woff');
}
@font-face {
font-family: 'hzjcydwgxcedgysxcmoyiemlihybhtbfxqnh';
font-style: normal;
font-weight: 500;
src: local('hzjcydwgxcedgysxcmoyiemlihybhtbfxqnh'), url("../static/assets/fonts/ea0851c3536ec60cdf10cd2e9239e4db.woff") format('woff');
}
@font-face {
font-family: 'hzjcydwgxcedgysxcmoyiemlihybhtbfxqnh';
font-style: normal;
font-weight: 600;
src: local('hzjcydwgxcedgysxcmoyiemlihybhtbfxqnh'), url("../static/assets/fonts/14a971d963eb29da2aabbf6122f5358a.woff") format('woff');
}
@font-face {
font-family: 'hzjcydwgxcedgysxcmoyiemlihybhtbfxqnh';
font-style: normal;
font-weight: 700;
src: local('hzjcydwgxcedgysxcmoyiemlihybhtbfxqnh'), url("../static/assets/fonts/22d608d6d3343eca64472582d1cc605e.woff") format('woff');
}
@font-face {
font-family: 'hzjcydwgxcedgysxcmoyiemlihybhtbfxqnh';
font-style: normal;
font-weight: 900;
src: local('hzjcydwgxcedgysxcmoyiemlihybhtbfxqnh'), url("../static/assets/fonts/27eae71d6d8536adc813f374ccbeefe6.woff") format('woff');
}
