<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




<!--                            CERTIFICATION SECTION -->

                            <div class="brz-columns brz-css-zzyvd brz-css-oczwp" data-custom-id="fzytteirhmmlqfhscnhzfsuzjennhreuznpk">
                                <div class="brz-column__items brz-css-hwbmw brz-css-isqqs">
                                    <div data-iteration-count="1" class="brz-css-kmwib brz-css-fvdki brz-wrapper brz-animated brz-css-ygxgo brz-css-vaecy">
                                        <div class="brz-image brz-css-emnjt brz-css-cxnmk"><picture class="brz-picture brz-d-block brz-p-relative brz-css-rmgqu" data-custom-id="goykugmrcftlrkrmadknpexpzqcvjqkcxrhl">
                                            <source srcset="../static/assets/images/6da48966a7dde116a5d5657c0c5423a1.png 1x, ../static/assets/images/6da48966a7dde116a5d5657c0c5423a1_5.png 2x" media="(min-width: 992px)">
                                            <source srcset="../static/assets/images/6da48966a7dde116a5d5657c0c5423a1_3.png 1x, ../static/assets/images/6da48966a7dde116a5d5657c0c5423a1_4.png 2x" media="(min-width: 768px)">
                                            <img class="brz-img brz-p-absolute" srcset="../static/assets/images/6da48966a7dde116a5d5657c0c5423a1_1.png 1x, ../static/assets/images/6da48966a7dde116a5d5657c0c5423a1_2.png 2x" src="../static/assets/images/6da48966a7dde116a5d5657c0c5423a1.png" alt="RHODA Babatunde - Machine learning Developer" draggable="false" loading="lazy">\</picture>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <div data-uid="qjbqcnyiwchuexfnhkhcoidlixevxlroewix" id="certifications" class="brz-section brz-css-gbxkc brz-css-srzra">
            <div class="brz-section__content brz-section--boxed brz-css-ublhc brz-css-wpevz" data-custom-id="pbddxpklwtpyczzuaclfvkkdeaiqlqxkrhvq">
                <div class="brz-bg">
                    <div class="brz-bg-color"></div>
                </div>
                <div class="brz-container brz-css-ysabm">
                    <div class="brz-row__container brz-css-llpty" data-custom-id="kebsplvigrehtyjuqeqgqlflivcjbexnybue">
                        <div class="brz-row brz-css-jpzie brz-css-jprds">
                            <div class="brz-columns brz-css-zzyvd brz-css-uzzdr" data-custom-id="uxrmmmcvpbwfjstwifuuhdjdadkzponunqyr">
                                <div class="brz-column__items brz-css-hwbmw">
                                    <div data-iteration-count="1" class="brz-css-kmwib brz-css-ujsik brz-wrapper brz-animated brz-css-ygxgo brz-css-ezzkc">
                                        <div class="brz-image brz-css-jdhqn"><picture class="brz-picture brz-d-block brz-p-relative brz-css-belfz" data-custom-id="meozneltztiiezrefxvzylflqgnxzzkoyhdv"><img class="brz-img brz-img-svg" src="https://cloud-1de12d.b-cdn.net/media/original/4e397be2bca40cd235d3ebb1db5a5bfa.svg" alt="AI University of Toronto - Babatunde Rhoda " draggable="false" loading="lazy"></picture>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="brz-columns brz-css-zzyvd brz-css-bssfv" data-custom-id="bkiqwlkxzjywnpqshkiuqkepimahkaslbinf">
                                <div class="brz-column__items brz-css-hwbmw brz-css-fwpai">
                                    <div data-iteration-count="1" class="brz-css-kmwib brz-css-oqycm brz-wrapper brz-animated brz-css-ygxgo brz-css-zfsth">
                                        <div class="brz-image brz-css-tptau"><picture class="brz-picture brz-d-block brz-p-relative brz-css-xkxvq" data-custom-id="gsjqwesojzayppsoijszeyefkdnjbxwtgsia"><img class="brz-img brz-img-svg" src="https://cloud-1de12d.b-cdn.net/media/original/8b189d8d29312940bda188e92ac2a265.svg" alt="MIT - Computer Science Artificial Intelligence (AI) Laboratory (HCI for User Experience Design) - Marcos Rezende" draggable="false" loading="lazy"></picture>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="brz-columns brz-css-zzyvd brz-css-oevkc" data-custom-id="qncemqlntwptyexdwhoperrxhjttsjazatpd">
                                <div class="brz-column__items brz-css-hwbmw">
                                    <div data-iteration-count="1" class="brz-css-kmwib brz-css-fllvd brz-wrapper brz-animated brz-css-ygxgo brz-css-crlxp">
                                        <div class="brz-image brz-css-bfjbf"><picture class="brz-picture brz-d-block brz-p-relative brz-css-mxamb" data-custom-id="gixgzqaguiigjogjpyjnserutxquyxqhzlvf"><img class="brz-img brz-img-svg" src="https://cloud-1de12d.b-cdn.net/media/original/0022a70ba035f3881ab782eb426c9aad.svg" alt="Talents Design - Universia &amp; Santander - Marcos Rezende" draggable="false" loading="lazy"></picture>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="brz-columns brz-css-zzyvd brz-css-sxepq" data-custom-id="jxoxxkvugsibplidhrmkmxswvrkewcuxewhi">
                                <div class="brz-column__items brz-css-hwbmw">
                                    <div data-iteration-count="1" class="brz-css-kmwib brz-css-lwbjc brz-wrapper brz-animated brz-css-ygxgo brz-css-cygbr">
                                        <div class="brz-image brz-css-mzfob"><picture class="brz-picture brz-d-block brz-p-relative brz-css-jrosi" data-custom-id="etzzwobwwtdoqiextxwhiptfhmxskixzvnqd"><img class="brz-img brz-img-svg" src="https://cloud-1de12d.b-cdn.net/media/original/74790b8d2ee32bff59b354e2a138a85e.svg" alt="Microsoft Hackaton - Fix, Hack and Learn Award. Best Fix and Overall Winner in Ireland - Marcos Rezende and team" draggable="false" loading="lazy"></picture>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="brz-columns brz-css-zzyvd brz-css-vmukc" data-custom-id="vhipcpveziwkafyoefgdcwozvfxnptccvvau">
                                <div class="brz-column__items brz-css-hwbmw">
                                    <div data-iteration-count="1" class="brz-css-kmwib brz-css-hhoiu brz-wrapper brz-animated brz-css-ygxgo brz-css-seslm">
                                        <div class="brz-image brz-css-lntpl"><picture class="brz-picture brz-d-block brz-p-relative brz-css-zibzs" data-custom-id="daqgzrqqsundfybsavkzkjyswlbgoqvkxntf"><img class="brz-img brz-img-svg" src="https://cloud-1de12d.b-cdn.net/media/original/a3a3db20ccbc464136d728c95dd3b36a.svg" alt="Linkedin Top Voice - UX (Marcos Rezende)" draggable="false" loading="lazy"></picture>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="brz-columns brz-css-zzyvd brz-css-gybfl" data-custom-id="owatboicmwfhwztccqohsiyovrktsjwqmpww">
                                <div class="brz-column__items brz-css-hwbmw brz-css-vhjxn">
                                    <div data-iteration-count="1" class="brz-css-kmwib brz-css-noarj brz-wrapper brz-animated brz-css-ygxgo brz-css-msgib">
                                        <div class="brz-image brz-css-ktjzv"><picture class="brz-picture brz-d-block brz-p-relative brz-css-zypyb" data-custom-id="yggsofvttjoqubxtxziknkazfejncrnqwlit"><img class="brz-img brz-img-svg" src="https://cloud-1de12d.b-cdn.net/media/original/b026695b3299f9a11fd221f8c3c795b9.svg" alt="Marcos Rezende - Toptal Freelancer" draggable="false" loading="lazy"></picture>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--                            CERTIFICATION SECTION -->










</body>
</html>