<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="brz">
    <div class="brz-root__container brz-reset-all">
        <section data-uid="nawiogehikxnjhfmasxuorrukuollyhtwlta" id="headerscrolltop" class="brz-section brz-css-htopq">
            <div class="brz-section__content brz-section--boxed brz-css-ijbfz brz-css-honzw" data-custom-id="nmoyitmrzqsonpvnojiyyjbtvwlqkuhlbxoh">
                <div class="brz-bg">
                    <div class="brz-bg-color">

                    </div>
                </div>

                <div class="brz-container brz-css-bisvm">
                    <div class="brz-row__container brz-css-jiypl" data-custom-id="myibzbhssxkrwbthpkrjeydmnucnpfeuhrlt">
                        <div class="brz-row brz-css-gamvw brz-css-vmbnk">
                            <div class="brz-columns brz-css-nhdjn brz-css-fsaqu" data-custom-id="yuackhuavtjgtrktcfgadudejzorquvqsitf">
                                <div class="brz-column__items brz-css-qetft brz-css-yzlla">
                                    <div class="brz-css-gtqma brz-css-pnvvn brz-wrapper">
                                        <div class="brz-image brz-css-qlvmh">
                                            <a class="brz-a" href="https://marcosrezende.com" data-brz-link-type="external" data-custom-id="bgpmqlyweqzcgrlaoiwnfmxoxuiptwrsxuhb">
                                                <picture class="brz-picture brz-d-block brz-p-relative brz-css-fsyae">
                                                    <img class="brz-img brz-img-svg" src="../static/assets/images/9352fa534b00aefa8c762964df26943d.gif" alt="RHODA Babz - Logotype" draggable="false" loading="lazy">
                                                </picture>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="brz-columns brz-css-nhdjn brz-css-nisxw" data-custom-id="qredljzqcemgkksqhyzluafazzjicdgiunrn">
                                <div class="brz-column__items brz-css-qetft brz-css-rhxhu">
                                    <div class="brz-css-gtqma brz-css-tvvos brz-wrapper">
                                        <div class="brz-menu__container brz-css-cxpbq brz-css-ykzjh" data-mmenu-id="#qayuozdjdbyhggapotrabhlgijmrimedduko" data-mmenu-position="position-right" data-mmenu-title="Menu" data-custom-id="qayuozdjdbyhggapotrabhlgijmrimedduko">

                            <nav class="brz-menu brz-menu__preview brz-css-lhwji brz-css-ikhhn">
                                <ul class="brz-menu__ul">
                                    <li class="brz-menu__item brz-menu__item--current">
                                        <a class="brz-a" href="index.html" data-brz-link-type="external">
                                        <span class="brz-span">HOME</span>
                                        </a>
                                    </li>
                                    <li class="brz-menu__item">
                                        <a class="brz-a" href="ai.html" data-brz-link-type="external">
                                        <span class="brz-span">AI/ML</span>
                                        </a>
                                    </li>
                                    <li class="brz-menu__item">
                                        <a class="brz-a" href="uxr.html" data-brz-link-type="external">
                                            <span class="brz-span">UXR</span>
                                        </a>
                                    </li>
                                    <li class="brz-menu__item">
                                        <a class="brz-a" href="blog.html" data-brz-link-type="external">
                                            <span class="brz-span">BLOG</span>
                                        </a>
                                    </li>
                                    <li class="brz-menu__item">
                                        <a class="brz-a" href="/ux-mentorship" data-brz-link-type="external">
                                            <span class="brz-span">MENTORSHIP</span>
                                        </a>
                                    </li>
                                    <li class="brz-menu__item">
                                        <a class="brz-a brz-anchor" href="#contact" data-brz-link-type="anchor">
                                            <span class="brz-span">LET'S CONNECT</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                            <div class="brz-mm-menu__icon">
                                <svg id="nc_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="brz-icon-svg" data-type="editor" data-name="menu-3">
                                    <g fill="currentColor" fill-rule="nonzero">
                                        <path d="M15 7H1c-.6 0-1 .4-1 1s.4 1 1 1h14c.6 0 1-.4 1-1s-.4-1-1-1zM15 2H1c-.6 0-1 .4-1 1s.4 1 1 1h14c.6 0 1-.4 1-1s-.4-1-1-1zM15 12H1c-.6 0-1 .4-1 1s.4 1 1 1h14c.6 0 1-.4 1-1s-.4-1-1-1z">
                                        </path>
                                    </g>
                                </svg>
</div>
                            <nav id="qayuozdjdbyhggapotrabhlgijmrimedduko" class="brz-menu brz-menu__mmenu brz-menu__preview brz-css-lhwji brz-css-ikhhn">
                                <ul class="brz-menu__ul">
                                    <li class="brz-mm-menu__item brz-mm-menu__item-empty brz-mm-menu__item--current">
                                        <a class="brz-a" href="index.html" data-brz-link-type="external">
                                            <span class="brz-span">HOME</span>
                                        </a>
                                    </li>
                                    <li class="brz-mm-menu__item brz-mm-menu__item-empty">
                                        <a class="brz-a" href="ai.html" data-brz-link-type="external">
                                            <span class="brz-span">AI/ML</span>
                                        </a>
                                    </li>
                                    <li class="brz-mm-menu__item brz-mm-menu__item-empty">
                                        <a class="brz-a" href="uxr.html" data-brz-link-type="external">
                                            <span class="brz-span">UXR</span>
                                        </a>
                                    </li>
                                    <li class="brz-mm-menu__item brz-mm-menu__item-empty">
                                        <a class="brz-a" href="blog.html" data-brz-link-type="external">
                                            <span class="brz-span">BLOG</span>
                                        </a>
                                    </li>
                                    <li class="brz-mm-menu__item brz-mm-menu__item-empty">
                                        <a class="brz-a" href="/ux-mentorship" data-brz-link-type="external">
                                            <span class="brz-span">MENTORSHIP</span>
                                        </a>
                                    </li>
                                    <li class="brz-mm-menu__item brz-mm-menu__item-empty">
                                        <a class="brz-a brz-anchor" href="#contact" data-brz-link-type="anchor">
                                            <span class="brz-span">LET'S CONNECT</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>





        {% block content %}{% endblock %}

</body>
</html>